{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
Main page
{% endblock title%}

{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Delete post
            </legend>
            <h2>Are you sure you want to delete the post {{object.title}}?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
            <a href="{% url 'posts' %}"><button class="btn btn-outline-secondary" type="button">Cancel</button>
</a>
        </div>
    </form>
</div>
{% endblock content %}